# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
package-lock.json
yarn.lock
.pnpm-debug.log*

# Logs
logs
*.log
log.txt
debug.log
error.log

# Environment
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Build
dist/
build/
coverage/
.tmp/
.cache/
.next/
out/

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# OS
.DS_Store
Thumbs.db

# IDEs / Editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# TypeScript (se estiver usando)
*.tsbuildinfo

# Others
*.tgz
.nyc_output/
.eslintcache
.prettier-cache/
.vercel
vercel.json
